@model IEnumerable<ESTACIONAMENTO.Models.Manobra2>

@{
    ViewData["Title"] = "Manobras - Abertas";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<br />
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary" asp-action="Create">Nova</a>
            <a class="btn btn-secondary" href="https://localhost:44328/Manobra2/IndexF">Fechadas</a>
        </p>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr style="background-color:cadetblue">
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro.Placa)
            </th>
            <th>
                Tipo Manobra
            </th>
            <th>
                Manobrista
            </th>
            <th>
                Data/Hora Entrada
            </th>
            <th>
                Data/Hora Saída
            </th>
            <th>
                Situação
            </th>

            <th>
                Ações Disponíveis
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classificacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manobrista.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataSaida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <div class="text-right">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        <a class="btn btn-secondary" asp-action="Fechar" asp-route-id="@item.Id">Fechar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
